{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

        <section id="presentation" class="presentation section">
            <div class="container">
                <div class="row" style="align-items: normal;">
                    <div class="col-lg-8 col-md-6 img-carre-ref" style="padding-right:30px;">
                        <h3>{{ lacourse.titre }}</h3>
                        {{ lacourse.contenu | safe}}
                        <h2>{% trans '1 course = 1 don' %}</h2>
                    </div>

                    <div class="col-lg-4 col-md-6 img-carre">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15247.045699869712!2d-4.575150029924401!3d48.35884407532513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4816be39dac601ad%3A0x271a5b153615b2ad!2sIMT%20Atlantique!5e1!3m2!1sen!2sfr!4v1623691038456!5m2!1sen!2sfr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </section>

    <section id="inscription" class="incscription section">
        <div class="container">
            <div class="inscription">
                <div class="row text-center" style="align-items:flex-start;">
                    <div class="col-md-5">
                        <h2 style="font-weight:bold;">Je veux participer à la course !</h2>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <button onclick="window.location.href='{% url "inscription:inscription" %}';">Participer</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <img class="img-height-ref" id="img-height-ref" style="width:100%;height:auto;" src="{{ img_ref.url }}">
    
    
    <div id="slides" class="cover-slides">
		<ul class="slides-container">
            {% for image_el in caroussel_principal %}
			<li class="text-left">
				<img src="{{ image_el.image.url }}" alt="">
			</li>
            {% endfor %}
		</ul>

		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-arrow-right hidden-sm hidden-xs" style="font-size:36px" aria-hidden="true"></i></a>
			<a href="#" class="prev"><i class="fa fa-arrow-left hidden-sm hidden-xs" style="font-size:36px" aria-hidden="true"></i></a>
		</div>
	</div>

    <section id="course" class="course section">
        <div class="container">
            <h3 style="text-align:center;">{% trans 'Les parcours' %}</h3>
            <p>{% blocktranslate %}Retrouvez ici les différents parcours d’Atlantic Run adapté à votre envie. {% endblocktranslate %}</p>
            <br>

            {% comment %} Onglets (sélection de la course) {% endcomment %}
            <div class="nav nav-course row-spaced" id="v-pills-tab" style="margin-bottom: 50px;" role="tablist">
                {% for onglet in onglet_course %}
                {% if forloop.first %}
                    <div class="active" href="#v-pills-{{ onglet.nom_course|cut:" " }}" role="tab" aria-controls="v-pills-{{ onglet.nom_course|cut:" " }}" aria-selected="true" id="v-pills-{{ onglet.nom_course|cut:" " }}-tab" data-toggle="pill">
                {% else %}
                    <div href="#v-pills-{{ onglet.nom_course|cut:" " }}" role="tab" aria-controls="v-pills-{{ onglet.nom_course|cut:" " }}" id="v-pills-{{ onglet.nom_course|cut:" " }}-tab" data-toggle="pill">
                {% endif %}
                        <button class="img-ronde" style="background: url({{ onglet.logo.url }});"></button>
                        <h4>{{ onglet.nom_course }}</h4>
                        <p>{{ onglet.sous_titre_course }}</p>
                    </div>
                {% endfor %}
            </div>
            
            {% comment %} Contenu des onglets {% endcomment %}
            <div class="tab-content" id="v-pills-tabContent">
                {% for onglet in onglet_course %}
                <div class="tab-pane fade show active" id="v-pills-{{ onglet.nom_course|cut:" " }}" role="tabpanel" aria-labelledby="v-pills-{{ onglet.nom_course|cut:" " }}-tab">
                    <div class="row row-spaced" style="align-items: normal;">
                        <div class="col-md-4">
                            {% if forloop.first %}
                            <div id="slides-first" class="slides slides-first">
                            {% else %}
                            <div id="slides-other" class="slides slides-other">
                            {% endif %}
                                <ul class="slides-container">
                                    {% for img in onglet.caroussel.images.all %}
                                    <li class="text-left">
                                        <img src="{{ img.image.url }}" alt="">
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="slides-navigation">
                                    <a href="#" class="next"><i class="fa fa-arrow-right hidden-sm hidden-xs" aria-hidden="true"></i></a>
                                    <a href="#" class="prev"><i class="fa fa-arrow-left hidden-sm hidden-xs" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1"></div>

                        <div class="col-md-7">
                            <div class="text-justify">
                                <h3>{{ onglet.texte.titre }}</h3>
                                {{ onglet.texte.contenu | safe }}
                                
                                <div class="work">
                                    <a href="{{ onglet.parcours.url }}" class="work-box">
                                        <img class="work-image" src="{{ onglet.parcours.url }}">
                                        <div class="overlay">
                                            <div class="overlay-caption">
                                                <h5>{{ onglet.nom_course}}</h5>
                                                <p>{{ onglet.sous_titre_course }}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="partenaire" class="partenaire section">
        <div class="container">
            <h4 style="text-align:center;">Nos partenaires</h4>
            <br>
            <div class="row row-spaced text-center">
                {% for partenaire in partenaires%}
                <div class="col-4">
                    <button class="img-ronde" target="_blank" onclick="window.open('{{ partenaire.lien }}', '_blank');"><img class="logo" src="{{ partenaire.logo.url }}"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}