{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

    <section class="presentation" style="padding:50px 0px;">
        <div class="container">
            <div class="row" style="align-items:center;">
                <div class="col-md-9">
                    <p style="font-weight:bold;font-size:23px">Grâce aux dons collectés dans le cadre de cette course caritative, L’ENVOL va pouvoir accompagner les enfants malades et leur famille gratuitement au travers de nos séjours adaptés, ateliers à l’hôpital, sorties récréatives et activités en ligne.
                    <br>Pour en savoir plus sur nos actions, n’hésitez pas à consulter la <a href="{% url 'envol:index' %}" style="color:#0072bc;">page de présentation de L’ENVOL</a>.</p>
                </div>
                <div class="col-md-3 text-center">
                    <img style="max-height:200px;width:auto;" src="{% static 'images/envol_logo.png' %}">
                </div>
            </div>
            
            <div class="">
                <h1 style="text-align:center;">Découvrez ce que votre participation à la course solidaire au profit de L’ENVOL permettra de financer</h1>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <img class="img-ronde" src="{% static 'images/poulpe 2.jpg' %}">
                    <p style="font-weight:bold;">Parcours Poulpe<br>4km</p>
                    <p style="font-weight:bold;">10€ d'inscription</p>
                    <p><i>Du matériel d’arts  pour décorer le site des séjours</i></p>
                </div>
                <div class="col-md-6">
                    <div class="row text-center">
                        <div class="col-5">
                            <img class="img-ronde" src="{% static 'images/pelican 2.jpg' %}">
                            <p style="font-weight:bold;">Parcours Pellican<br>8km</p>
                        </div>
                        <div class="col-2">
                            <h1>OU</h1>
                        </div>
                        <div class="col-5">
                            <img class="img-ronde" src="{% static 'images/aigle 2.jpg' %}">
                            <p style="font-weight:bold;">Parcours Aigle<br>16km</p>
                        </div>
                    </div>
                
                    <p style="font-weight:bold;">15€ d'inscription</p>
                    <p style="font-weight:bold;">(Elève et Personnel IMT Atlantique)</p>
                    <p><i>Un repas sur les séjours pour un enfant malade</i></p>
                    <br>
                    <p style="font-weight:bold;">20€ d'inscription</p>
                    <p style="font-weight:bold;">(Membre extérieur à IMT Atlantique)</p>
                    <p><i>Le matériel pour un atelier à l'hôpital (photo ou expression)</i></p>
                </div>
            </div>

            <h1>Dons supplémentaires</h1>
            <ul class="list-circle">
                <li>30 euros : Une trousse de secours pour 15 enfants que nous emmenons sur nos séjours.</li>
                <li>40 euros : 1 kit à destination des adolescents hospitalisés contenant 3 activités manuelles.</li>
                <li>50 euros : 1 kit à destination des familles contenant 5 activités, une BD et des goodies.</li>
            </ul>

            <div class="row" style="margin-top:30px;margin-bottom:80px;align-items:center;row-gap:30px;">
                <div class="col-md-8">
                    <h2>Nos séjours adaptés</h2>
                    <p>Nos séjours sont entièrement gratuits, aussi bien pour les jeunes malades que pour leur famille.
                    L'ENVOL prend en charge plus de 65 pathologies différentes et assure un encadrement sécurisé par des bénévoles animateurs et médicaux, tous formés par nos soins. Avec un taux d’encadrement de l’ordre de 1 adulte pour 1 bénéficiaire, les jeunes bénéficient d’un suivi attentif et personnalisé pendant tout le séjour, 24h/7.
                    Grâce à ces séjours, enfants et aidants profitent d'une trêve dans la maladie et participent ensemble à des activités adaptées, variées et ludiques.</p>
                </div>
                <div class="col-md-4">
                    <img width=100% src="{% static 'images/don 1.png' %}">
                </div>
                <div class="col-md-4">
                    <img width=100% src="{% static 'images/don 3.png' %}">
                </div>
                <div class="col-md-8">
                    <h2>Nos ateliers à l'hôpital</h2>
                    <p>Pour rendre cela possible, L’ENVOL propose des ateliers qui se déroulent dans un esprit ludique, créatif, bienveillant, interactif et participatif.<br>
                    Objectifs de ces ateliers récréatifs :
                        <ul class="list-circle">
                            <li><p>Accompagner l’enfant pour qu’il développe ses capacités d’expression en combinant l’usage de la parole et la pratique d’activités créatives ;</p></li>
                            <li><p>Permettre à l’enfant de progresser dans la découverte de soi et des autres ;</p></li>
                            <li><p>Aider l’enfant et les parents à lutter contre les effets psychologiques et sociaux de la maladie</p></li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-8">
                    <h2>Nos sorties récréatives</h2>
                    <p>Tout au long de l’année, L’ENVOL propose aux jeunes malades et à leur famille des sorties récréatives : des journées ou demi-journées gratuites, culturelles, sportives et pédagogiques.
                    La photo à droite a par exemple été prise lors d’un après-midi au jardin Marcotte, où nos Envolotes ont eux-mêmes récolté des graines pour ensuite les semer dans des pots de fleurs, peints par leurs soins.
                    Les enfants ont ensuite récolté des herbes aromatiques pour créer leur propre tisane et la déguster tous ensemble autour d’un goûter.
                    Une vraie dose de nature !</p>
                </div>
                <div class="col-md-4">
                    <img width=100% src="{% static 'images/don 2.png' %}">
                </div>
                <div class="col-md-4">
                    <img width=100% src="{% static 'images/don 4.png' %}">
                </div>
                <div class="col-md-8">
                    <h2>Nos activités en ligne</h2>
                    <p>Pour lutter contre l’isolement dont souffrent les jeunes malades et leur famille depuis le début de la crise sanitaire, L’ENVOL a su se réinventer en concevant un programme d’activités entièrement virtuelles.
                    Des kits sur-mesure comprenant des activités, des jeux et de la lecture, sont distribués chez les familles de L’ENVOL et dans 21 hôpitaux partenaires : c’est L’ENVOL en kit.
                    Puis, avec L'ENVOL en live, les familles de L’ENVOL se retrouvent et s’amusent ensemble pendant des journées virtuelles.
                    Enfin, grâce à L'ENVOL à la maison, les enfants peuvent retrouver la magie de L’ENVOL à tout moment grâce à plus de 75 vidéos d’activités divertissantes, de défis ludiques et d’ateliers créatifs, adaptés à tous.</p>
                </div>
            </div>
            <h1 style="color:#0072BC;text-align:center">MERCI POUR VOTRE GÉNÉROSITÉ POUR QUE LES ENFANTS MALADES RESTENT DES ENFANTS</h1>
        </div>
    </section>

{% endblock %}