{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load recaptcha2 %}

{% block header %}
    {% recaptcha_init %}
{% endblock %}

{% block content %}     
    <section class="presentation" style="margin-bottom:50px;">
        <div class="container encadre">
        
            <h1 style="text-align:center;">Nous contacter</h1>

            <div class="formulaire">
                <form action="{% url 'contact:contact' %}" method="POST">

                    {% csrf_token %}
                    
                    <!--<div class="form-group  {% if form.prenom.errors %}has-warning has-feedback{% endif %}">
                        <label for="{{ form.prenom.id_label}}">{{ form.prenom.label }} *</label>
                        {{ form.prenom }}
                    </div>

                    <div class="form-group  {% if form.nom.errors %}has-warning has-feedback{% endif %}">
                        <label for="{{ form.nom.id_label }}">{{ form.nom.label }} *</label>
                        {{ form.nom }}
                    </div>

                    <div class="form-group  {% if form.objet.errors %}has-warning has-feedback{% endif %}">
                        <label for="{{ form.objet.id_label }}">{{ form.objet.label }} *</label>
                        {{ form.objet }}
                    </div>

                    <div class="form-group {% if form.contenu.errors %}has-warning has-feedback{% endif %}">
                        <label for="{{ form.contenu.id_label }}">{{ form.contenu.label }} *</label>
                        {{ form.contenu }}
                    </div>-->

                    {% for element in form %}

                        {% if element.label == "Captcha" %}
                        <center>
                        {{ element }}
                        {% else %}
                        <div class="form-group  {% if element.errors %}has-warning has-feedback{% endif %}">
                            <label for="{{ element.id_label}}">{{ element.label }}</label>
                            {{ element }}
                        </div>
                        {% endif %}
                        {% if element.errors %}{% autoescape off %}{{ element.error }}{% endautoescape %}{% endif %}
                    {% endfor %}
                    <center>
                        {{form.captcha}}
                        <br>
                        <input class="submit" type="submit" value="{% trans 'Envoyer' %}">
                    </center>

                </form>
            </div>

        </div>
    </section>

{% endblock %}