{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load recaptcha2 %}

{% block header %}
    {% recaptcha_init %}
{% endblock %}

{% block content %}
    <section class="presentation" style="margin-bottom:50px;">
        <div class="container encadre">
        
            <h1 style="text-align:center;">{% trans "Nous contacter" %}</h1>

            <div class="formulaire">
                <form action="{% url 'contact:contact' %}" method="POST">

                    {% csrf_token %}

                    {% for element in form %}

                        {% if element.label == "Captcha" %}
                        <center>
                        {{ element }}
                        {% else %}
                        <div class="form-group  {% if element.errors %}has-warning has-feedback{% endif %}">
                            <label for="{{ element.id_label}}">{{ element.label }}</label>
                            {{ element }}
                        </div>
                        {% endif %}
                        {% if element.errors %}{% autoescape off %}{{ element.error }}{% endautoescape %}{% endif %}
                    {% endfor %}
                    <center>
                        {{form.captcha}}
                        <br>
                        <input class="submit" type="submit" value="{% trans 'Envoyer' %}">
                    </center>

                </form>
            </div>

        </div>
    </section>

{% endblock %}