{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    {% for element in presentations %}
    <section class="presentation" style="padding:50px 0px;">
        <div class="container">
            <div style="row-gap:15px;" class="row text-center">
                <div class="col-md-2">
                    <img class="img-ronde" width="100%" height="auto" src="{{ element.logo.url }}">
                </div>
                <div class="col-md-8">
                <h1>{{ element.titre | safe }}</h1>
                    <div style="text-align: justify!important;">
                    {{ element.texte | safe }}
                    </div>
                </div>
            </div>
            <div style="margin-top:20px;row-gap:10px;" class="row text-center">
                <div class="col-md-6">
                    <div class="decouvrir" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.5) 100%), url({{ element.photo_1.url}});">
                        <div class="legend">
                            <p>{{ element.legende_1 }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="decouvrir" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.5) 100%), url({{ element.photo_2.url }});">
                        <div class="legend">
                            <p>{{ element.legende_2 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}

{% endblock %}